*{
    background-color: silver;
}
    
    h1{
    color:rgb(20, 52, 235);
    text-align:center;
}
table{
    margin:0 auto;
    height: 100px;
    width: 200px;
}
th,td{
    text-align:center;
    height: 100px;
    width: 200px;

}
table, th,td{
    border: 1px solid black;

}
